/* RESET */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

img{
	max-width: 100%;
}   

a{
	text-decoration: none;
	color: currentColor;
}

menu, ul, ol{
	list-style: none;
}

button{
    border: none;
}

/* LAYOUT */

.container, .container_sm{
    width: 100%;
    margin: 0 auto;
    
}

.container{
    max-width: 1200px;
    
}

.container_sm{
     max-width: 1080px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-12{
    width: calc(12 * 100% / 12);
}

@media (min-width: 992px){
    .col-md-8{
        width: calc(8 * 100% / 12);
    }

    .col-md-4{
        width: calc(4 * 100% / 12);
    }

    .col-md-6{
        width: calc(6 * 100% / 12);
    }

}



/* BUTTONS */

.button{
    background-color: white;
    color: black;
    line-height: 46px;
    border-radius: 999px;
    padding:  0 30px;
    display: block;
}

.button_blue{
    background-color: #0084FD;
    color: white;
}

.button_round{
    background-color: #9593E5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

/* HEADER */
.page_header{
    background-color: #0084FD;
    padding: 20px 10px;
}

.mine-menu{
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    
}

.nav{
    justify-content: space-between;
    color: white;
}

@media (min-width: 992px){
    .mine-menu{
        display: flex;
    }

    .hamburger{
        display: none;
    }
}
/* HEADER END */

/* HERO */

.hero .container{
    padding: 30px 0;
}

.card, .card_landscape{
    background-color: #B5DDFF;
    border-radius: 25px;
    height: 100%;
}

.card{
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.hero .card p{
    text-align: center;
    line-height: 2em;
}

.hero .card i{
    font-size: 60px;
}

.hero .card i, h3{
    color: #0084FD;
}

[class^='col-']{
    padding: 20px;
}

.card_landscape .card__body{
    padding: 20px;
    gap: 30px;
}

.card_landscape .card__body p{
    line-height: 2em;
}

@media (min-width: 768px){
    .hero .card_landscape img{
        width: 50%;
    }
}

@media (min-width: 992px){
    .card_landscape{
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .card_landscape .card__body {
        max-width: 50%;

}

.hero .card_landscape img{
    width: 100%;
}

}

/* STRATEGIC PLANNING */

.strategic{
    background-color: #9593E5;
}

.strategic .container_sm{
    padding: 150px 0 60px;
}

.strategic .column_left{
    align-content: center;
    justify-content: center;
}



.strategic .cards{
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.strategic .cards h2, p{
    color: white;
}

.strategic .cards h2 {
    color: white;
    margin: 100px 0 30px;
}

.strategic .cards .column_left p{
    font-size: 20px;
    line-height: 1.5;
    color: white;
}

@media (min-width: 768px){
    .strategic .cards h2{
        font-size: 60px;
    }

}

@media (min-width: 992px){
    .strategic .cards {
       flex-direction: row;
       gap: 0;
    }

    .strategic .card_boy img{
        width: 80%;
    }

    .column_right{
        align-self: flex-end;
    }

    .card_boy{
        margin-left: 30px;
    }

}

.card_boy{
    background-color: white;
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    gap: 30px;
}

.strategic .card_boy h3, p{
    color: black;
}

.card_boy p{
    font-style: italic;
    text-align: center;
    
}

/* PARTNERS */

.partners .container{
    padding-top: 40px;
}

.partners .title{
    text-align: center;
}

.partners .title h6, h2, p{
    margin-bottom: 30px;
}

.partners h2{
    color: #9593E5;
}

.partners .card{
    background-color: #9593E5;
    
}

.badge img{
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
     object-fit: cover;
}

.badge{
    flex-shrink: 0;
}

.partners .card{
   
   margin: 25px 0;
}

.partners .row{
    padding: 20px 20px;

}

.partners .card p, h4{
    text-align: center;
    color: white;
}

.badge_txt{
    justify-content: center;
}



 @media (min-width: 768px){
    .partners .card{
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 0;
    }

    .partners .card p, h4{
        text-align: left;
    }

    .badge_txt{
        justify-content: flex-start;
    }

} 
